extends layout

block navbar
    include navbar
block content
    div.row(style="display:none")#no-events
        div.col.s8.offset-s2
            p.flow-text No events coming up. <a href="#add-event" class="modal-trigger add-event-trigger">Add some!</a>
    div.modal.modal-fixed-footer#add-event
        div.modal-content.flex-box-fill(style="padding-bottom:0px")
            h4
                | Add a new event 
                i.material-icons.right.modal-close close
            form.col.s12#newEvent(method="post" action="/" + currentUrl + "/new")
                ul.tabs
                    li.tab.col.s4
                        a.active#basicInfoTab(href="#basicTab") Basic Info
                    li.tab.col.s4
                        a#bannerTabButton(href="#bannerTab") Banner
                    li.tab.col.s4
                        a#detailsTabButton(href="#detailsTab") Details
                div.col.s12#basicTab
                    div.row
                        div.input-field.col.s12
                            i.material-icons.prefix mode_edit
                            input.validate#name(name="name" type="text" required)
                            label(for="name") Name of your event
                        div.input-field.col.s12
                            i.material-icons.prefix date_range
                            input.datepicker#date(name="date" type="date" required)
                            label(for="date") What date is it?
                        div.input-field.col.s12.m6
                            i.material-icons.prefix access_time
                            input.validate#timeStart(name="timeStart" type="text" required)
                            label(for="timeStart") When does it start?
                        div.input-field.col.s12.m6
                            i.material-icons.prefix access_time
                            input.validate#timeEnd(name="timeEnd" type="text" required)
                            label(for="timeEnd") When is it over?
                        div.input-field.col.s12
                            i.material-icons.prefix event_note
                            textarea.materialize-textarea#description(name="description" type="text")
                            label(for="description") Describe your event.
                        p.red-text.text-accent-4#error=error
                div.col.s12#bannerTab
                    div.row#banner-loading.margin-top
                        div.col.s12.center
                            div.preloader-wrapper.big.active.banner-
                                div.spinner-layer.spinner-yellow-only
                                    div.circle-clipper.left
                                        div.circle
                                    div.gap-patch
                                        div.circle
                                    div.circle-clipper.right
                                        div.circle
                    div.row.no-margin-bottom#banner-row
                        div.col.s12.center-align
                            img.z-depth-3.banner-preview(src="/images/banners/lights.png")
                        div.input-field.col.s10.offset-s1.margin-top
                            select.icons#banner-picker(name="banner-picker")
                            label(for="banner-picker") Pick a banner image
                        //- div.file-field.col.s10.offset-s1
                        //-     p.lean Or upload your own image
                        //-     div.btn
                        //-         span File
                        //-         input(type="file")
                        //-     div.file-path-wrapper
                        //-         input.file-path.validate(type="text" placeholder="Upload an image")
                div.col.s12#detailsTab
                    div.row.no-margin-bottom
                        div.col.s12.m6
                            h5 Location
                            div.row
                                div.input-field.col.s12
                                    i.material-icons.prefix add_location
                                    input.validate#location(name="location" type="text" required)
                                    label(for='location') Where is your event?
                                div.col.s12
                                    a.waves-effect.waves-light.btn#enter-location Show me on the map
                            //- div.flex-box-fill.video-container
                            //-     iframe.flex1.map(allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/view?zoom=3&center=37.0902,-95.7129&key=AIzaSyA_pbDU2WPMoChRE2oFhjJVNJHPI5-1Ewg" )
                        div.col.s12.m6
                            h5 How to Display RSVPs
                            div.row
                                div.col.s12
                                    p
                                        input#anonymous(name="rsvp" type="radio" value="anonymous" checked)
                                        label(for="anonymous") No one can see who has RSVP'd
                                    p
                                        input#onlyme(name="rsvp" type="radio" value="onlyme")
                                        label(for="onlyme") Only I can see who has RSVP'd
                                    p
                                        input#everyone(name="rsvp" type="radio" value="everyone")
                                        label(for="everyone") Everyone can see who has RSVP'd
                            div.row
                                div.col.s12
                                    p.red-text.text-accent-4#error-details=error
        div.modal-footer
            - var modalButtonClasses = "modal-action btn-flat waves-effect waves-dark"
            a#newEventButton(class=modalButtonClasses) Next
            a.left#newEventClose(class=modalButtonClasses) Close

block scripts
    script(type='text/javascript' src='/js/timepicker/timepicker.js')
    script(type='text/javascript').
        var currentUrl = "#{currentUrl}";
        var title = "#{title}";
        var user = "#{user.username}";
        var isAdmin = "#{isAdmin}";
    script(type='text/javascript' src='/js/group.js')
        