- var hoverAttributes = {"class":"tooltipped","data-position":"bottom", "data-delay":"50"};
- var aClasses = "waves-effect waves-light";

mixin user-nav(dropdownID, mobile)
    if(user && user.username)
        li
            a.dropdown-button(class=aClasses data-activates=dropdownID data-tooltip=(mobile ? false : "My Account"))&attributes(mobile ? false : hoverAttributes)
                i.material-icons(class=(mobile ? 'left' : false)) account_circle
                if mobile
                    | My Account
            ul.dropdown-content(id=dropdownID)
                li: a=user.username
                li.divider
                li: a.modal-trigger#mygroups(href="#list-modal") My Groups
                li: a Settings
                li: a(href="/logout") Logout
    else
        li
            a(href="/login" class=aClasses data-tooltip=(mobile ? false : "Login"))&attributes(mobile ? false : hoverAttributes)
                i.material-icons(class=(mobile ? 'left' : false)) assignment_ind
                if mobile
                    | Login
        li
            a(href="/register" class=aClasses data-tooltip=(mobile ? false : "Sign Up"))&attributes(mobile ? false : hoverAttributes)
                i.material-icons(class=(mobile ? 'left' : false)) assignment
                if mobile
                    | Sign Up

mixin nav-list(mobile)
    li
        a(href="/" class=aClasses data-tooltip=(mobile ? false : "Ravie"))&attributes(mobile ? false : hoverAttributes)
            i.material-icons(class=(mobile ? 'left' : false)) home
            if mobile
                | Ravie
    li
        a.modal-trigger#suggestions-trigger(href="#suggestions" class=aClasses data-tooltip=(mobile ? false : "Leave a suggestion"))&attributes(mobile ? false : hoverAttributes)
            i.material-icons(class=(mobile ? 'left' : false)) feedback
            if mobile
                | Leave a suggestion
mixin group-nav(mobile)
    if calendar
        li
            a(class=aClasses data-tooltip=(mobile ? false : "List view"))&attributes(mobile ? false : hoverAttributes)
                i.material-icons(class=(mobile ? 'left' : false)) view_agenda
                if mobile
                    | List view
    //- else
    //-     li
    //-         a(class=aClasses data-tooltip=(mobile ? false : "Calendar view"))&attributes(mobile ? false : hoverAttributes)
    //-             i.material-icons(class=(mobile ? 'left' : false)) event
    //-             if mobile
    //-                 | Calendar view
    li
        a.modal-trigger#members(class=aClasses href="#list-modal" data-tooltip=(mobile ? false : "Members"))&attributes(mobile ? false : hoverAttributes)
            i.material-icons(class=(mobile ? 'left' : false)) people
            if mobile
                | Members
    li
        a.modal-trigger.add-event-trigger(class=aClasses href="#add-event" data-tooltip=(mobile ? false : "Add a new event"))&attributes(mobile ? false : hoverAttributes)
            i.material-icons(class=(mobile ? 'left' : false)) add
            if mobile
                | Add a new event
div.navbar-fixed
    nav.orange.lighten-1(role='navigation')
        div.nav-wrapper.container
            -var href = "/";
            if group
                -href += currentUrl;
            a.brand-logo.center(href=href)=title

            ul.right.hide-on-med-and-down
                if group
                    +group-nav(false)
                +user-nav('user-menu')
            ul.left.hide-on-med-and-down
                +nav-list(false)

            a.button-collapse#mobile-menu-button(href='#' data-activates='slide-out')
                i.material-icons menu
            ul.side-nav#slide-out
                if group
                    +group-nav(true)
                +nav-list(true)
                +user-nav('mobile-user-menu', true)


div.modal.bottom-sheet#suggestions
        div.modal-content
            h4
                | Leave a suggestion
                i.material-icons.right.modal-close close
            form.col.s12#suggestion-form
                div.input-field.row
                    div.col.s12
                    input#emoji-input(type="hidden"  value="none")
                    p Which emoji most accurately reflects how you feel about the site?
                    - var hoverAttributes = {"class":"tooltipped","data-position":"bottom", "data-delay":"50"};
                    - var aClasses = "emoji-toggle btn-large waves-effect waves-orange";
                    a.btn-flat(class=aClasses data-tooltip=("Sad"))&attributes(hoverAttributes): i.material-icons sentiment_dissatisfied
                    a.btn-flat(class=aClasses data-tooltip=("Neutral"))&attributes(hoverAttributes): i.material-icons sentiment_neutral
                    a.btn-flat(class=aClasses data-tooltip=("Happy"))&attributes(hoverAttributes): i.material-icons  sentiment_satisfied
                    a.btn-flat(class=aClasses data-tooltip=("Very Happy"))&attributes(hoverAttributes): i.material-icons sentiment_very_satisfied
                div.input-field.row
                    div.col.s12
                        textarea.materialize-textarea#suggestion(name="suggestion")
                        label(for="suggestion") What is your suggestion? Your account and current page are attached automatically.
                button.btn-flat.waves-effect.waves-orange.modal-close(type="submit") Send
div.modal.modal-fixed-footer#list-modal
    div.modal-content
        h4
            span#list-title
            i.material-icons.right.modal-close close
        div.progress#list-progress
            div.indeterminate
        div#list-body
    div.modal-footer
        a.modal-close.btn-flat.waves-effect.waves-dark(class=modalButtonClasses) Close